.activityHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.activityHeaderText {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.activityHeaderInfo {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
}

.activityTimer {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--success-color);
}

.activityTimer.unavailable {
    color: var(--error-color);
}
