.root {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.item {
    all: unset;
    cursor: pointer;
	width: 23px;
	height: 23px;
	border-radius: 100%;
    border: 2px solid var(--grey-600);
	&:hover {
        border-color: var(--primary-color);
	}
	&:focus {
        border-color: var(--primary-color);
	}

    &[data-state="checked"] {
        border-color: var(--primary-color)
    }
}

.itemContainer {
    display: flex;
    align-items: center;
}

.indicator {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: relative;
	&::after {
		content: "";
		display: block;
		width: 11px;
		height: 11px;
		border-radius: 50%;
		background-color: var(--primary-color);
	}
}

.label {
	color: var(--font-color);
	padding-left: 15px;
    cursor: pointer;
}
