.selectTrigger {
    font-family: var(--font-roboto), Arial, sans-serif;
    font-weight: 400;
    min-width: 0;
    width: 300px;
    box-sizing: border-box;
    border-radius: 4px;
    outline: 0;
    border: 1px solid var(--grey-300);
    background-color: white;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.selectValue {
    flex: 1 1 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
}
.selectTrigger[data-placeholder] {
    color: var(--font-detail-color);
}
.isFullWidth {
    width: 100%;
}
.selectTrigger:hover {
    border-color: var(--grey-500);
    cursor: pointer;
}
.color-primary:focus,
.color-primary[data-state='open'] {
    border-color: var(--primary-color);
    box-shadow: inset 0px 0px 0px 1px var(--primary-color);
}
.color-secondary:focus,
.color-secondary[data-state='open'] {
    border-color: var(--secondary-color);
    box-shadow: inset 0px 0px 0px 1px var(--secondary-color);
}
.size-sm {
    font-size: 14px;
    line-height: 18px;
    padding: 8px 8px;
}
.size-sm .selectIcon {
    width: 18px;
    height: 18px;
}
.size-md {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 8px;
}
.size-md .selectIcon {
    width: 20px;
    height: 20px;
}
.size-lg {
    font-size: 18px;
    line-height: 22px;
    padding: 12px 8px;
}
.size-lg .selectIcon {
    width: 22px;
    height: 22px;
}

.selectContent {
    width: var(--radix-select-trigger-width);
    max-height: var(--radix-select-content-available-height);
    overflow: hidden;
    background-color: white;
    z-index: 1000;

    transition:
        opacity 361ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 240ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: white;
    color: var(--text-color);
    box-shadow:
        rgba(0, 0, 0, 0.2) 0px 5px 5px -3px,
        rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
        rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
    border-radius: 4px;
    outline: 0px;
}

.selectItem {
    outline: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    color: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    text-decoration: none;
    padding: 10px 12px;
    white-space: nowrap;
}
.selectItem[data-highlighted] {
    background-color: var(--grey-100);
}
.selectItem[data-state='checked'] {
    background-color: var(--primary-100);
}
.selectItem[data-state='checked'][data-highlighted] {
    background-color: var(--primary-200);
}
.selectItemIndicator {
    position: absolute;
    left: 0;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.selectScrollButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: white;
    color: var(--font-detail-color);
    cursor: default;
}

.scrollAreaRoot,
.selectViewport {
    width: 100%;
    max-height: var(--radix-select-content-available-height);
    overflow: auto;
}
.selectScrollbar {
    width: 12px;
    padding: 6px 2px;
}
.selectScrollbar:hover {
    background-color: #d9dae085;
}

.selectThumb {
    background: var(--grey-500);
    border-radius: 6px;
}

.hasError,
.hasError:hover,
.hasError:focus,
.hasError[data-state='open'] {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    border-color: var(--error-color);
}
.hasError:focus,
.hasError[data-state='open'] {
    box-shadow: inset 0px 0px 0px 1px var(--error-color);
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
