.dropdownMenuItem {
    padding: 8px 12px;
    outline: none;
    cursor: pointer;
    display: block;
    width: 100%;
    box-sizing: border-box;
    color: var(--text-color);
    text-decoration: none;
}
.dropdownMenuItem:hover,
.dropdownMenuItem:focus {
    background-color: rgba(0, 0, 0, 0.04);
}

.color-primary {
    color: var(--primary-color);
}
.color-secondary {
    color: var(--secondary-500);
}
.color-danger {
    color: var(--error-color);
}
