.puzzleViewTitle {
    margin-top: 32px;
    font-weight: bold;
}

.puzzleViewFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hintSection {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    overflow: hidden;
    border: 1px solid var(--grey-100);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 2px 2px 0 var(--grey-200);
}

.hintHeader {
    font-weight: 600;
    margin-bottom: 6px;
}

.hintButton {
    text-decoration: underline;
}

.hintOpen {
    .icon {
        transform: rotate(180deg);
    }
}
