.dropdownMenuContent {
    min-width: 200px;
    background-color: white;
    border-radius: 4px;
    z-index: 500;
}
.hasShadow {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}
.hasAnimation {
    transition: opacity 267ms cubic-bezier(0.4, 0, 0.2, 1), transform 178ms cubic-bezier(0.4, 0, 0.2, 1);
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.dropdownMenuContent[data-side='top'] {
    animation-name: slideDownAndFade;
}
.dropdownMenuContent[data-side='right'] {
    animation-name: slideLeftAndFade;
}
.dropdownMenuContent[data-side='bottom'] {
    animation-name: slideUpAndFade;
}
.dropdownMenuContent[data-side='left'] {
    animation-name: slideRightAndFade;
}
@keyframes slideUpAndFade {
    from {
        opacity: 0;
        transform: translateY(2px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRightAndFade {
    from {
        opacity: 0;
        transform: translateX(-2px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideDownAndFade {
    from {
        opacity: 0;
        transform: translateY(-2px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeftAndFade {
    from {
        opacity: 0;
        transform: translateX(2px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
