.dropdownMenuItem {
    padding: 8px 12px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    color: var(--text-color);
    text-decoration: none;
    white-space: nowrap;
}
.dropdownMenuItem:hover,
.dropdownMenuItem:focus {
    background-color: rgba(0, 0, 0, 0.04);
}

.color-primary {
    color: var(--primary-color);
}
.color-secondary {
    color: var(--secondary-500);
}
.color-danger {
    color: var(--error-color);
}

.icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}
