.printButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 0;
}

.mb8 {
    margin-bottom: 8px;
}
