.dish {
    display: flex;
    flex-direction: row;
    column-gap: 32px;
}

.dishTitle {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
}

.buttons {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
