.page {
    position: relative;
}

.backButton {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    color: var(--font-color);
    text-decoration: none;
    position: absolute;
    top: 16px;
    left: 32px;
}
.backButton:hover {
    text-decoration: underline;
}
