.textCenter {
    text-align: center;
}

.textPrimary {
    color: var(--primary-color);
}

.textOrangeBackground {
  background-color: var(--text-orange-background);
  color: white;
  display: inline-block;
}
