.button {
    border-radius: 10px;
    background-color: var(--grey-100);
    border: 1px solid var(--grey-200);
    padding: 16px 20px;
    text-align: left;
    line-height: 1.5rem;
}

.title {
    font-weight: 500;
}

.button:hover {
    background-color: var(--grey-200);
    border-color: var(--grey-300);
}

.buttonContent {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 24px;
    height: 40px
}

.dropdown {
    padding-top: 32px;
}