.grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.pelicoSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
    background-color: var(--grey-100);
    border-radius: 10px;
    margin: auto;
    width: 450px;
    font-size: 20px;
    gap: 32px;
    text-align: center;
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.loader {
    display: flex;
    min-height: 300px;
    align-items: center;
    justify-content: center;
}