.container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin: 32px auto;
}

.other {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
}
