.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    position: relative;
}

.error {
    padding: 12px 16px;
    background-color: var(--error-100);
    border: 1px solid var(--error-200);
    border-radius: 4px;
    color: var(--error-600);
    font-size: 14px;
}