.activityCard {
    width: 100%;
    background-color: white;
    border: 1px solid var(--grey-300);
    border-radius: 4px;
}
.isPinned {
    border: 2px solid var(--primary-color);
}
.activityCardHeader {
    padding: 4px;
}

.activityCardBody {
    padding: 0 4px 4px 4px;
}
