.activitySidePanel {
    width: 300px;
}

@media (max-width: 850px) {
    .activitySidePanel {
        display: none;
    }
}

.WorldMapContainer {
    width: 100%;
    height: 280px;
    max-height: 50vh;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--primary-300);
    padding: 10px;
}

.avatar {
    background-color: var(--primary-300);
    padding: 10px;
    border-radius: 10px;   
}

.ficheProf {
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
