.headerContainer {
    position: fixed;
    width: 100%;
    height: 68px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    background-color: var(--background-color);
    padding: 8px 20px 0 20px;
}

.header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    background-color: white;
    padding: 0 16px;
    box-shadow: 0 2px 2px 0 rgba(186, 186, 186, 0.8);
    border-radius: 10px;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    position: relative;
}

.teacherButtonContainer {
    position: absolute;
    margin: 0;
    right: 0;
}

.menuButton {
    width: 34px;
    height: 34px;
    display: none;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: inherit;
}

.logoContainer:hover {
    opacity: 0.8;
}

@media (max-width: 850px) {
    .headerContainer {
        height: 60px;
        padding: 0;
    }
    .header {
        border-radius: 0;
        box-shadow: none;
        border-bottom: 1px solid var(--grey-200);
        position: relative;
    }
    .navContainer {
        justify-content: center;
    }
    .menuButton {
        display: block;
        position: absolute;
        z-index: 1;
    }
}

.logo {
    width: 40px;
    height: 40px;
    color: var(--primary-color);
}

.title {
    color: var(--primary-color);
    font-size: 24px;
    font-family:
        var(--font-alegreya-sans),
        Times New Roman,
        Times,
        serif;
    font-weight: 500;
    margin-left: 8px;
}

.modalContent {
    padding-right: 16px;
    border-right: 1px solid #e0e0e0;
}
