.rootLayout {
    /* position */
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    min-height: 100vh;
    min-height: 100dvh; /* for mobile */

    /* display */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    padding: 84px 20px 0 20px; /* 8px + 60px + 16px = 84px (header height + margin) */
    position: relative;
    gap: 16px;
}

.content {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 16px;
}

.main {
    background-color: white;
    box-shadow: 0 2px 2px rgba(186, 186, 186, .8);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex: 1 1 0;
}

@media (max-width: 850px) {
    .rootLayout {
        width: 100%;
        margin: 0;
        padding: 76px 0 0 0; /* 60px + 16px = 76px (header height + margin) */
    }
    .main {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 1px solid var(--grey-200);
    }
}
