.navigationWrapper {
    width: 320px;
    min-width: 320px;
    position: relative;
}
.stickyContent {
    position: sticky;
    top: 84px;
}
.navigationCard {
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(186, 186, 186, 0.8);
    border-radius: 10px;
    padding: 16px 8px;
}

.navigationCardTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 38px;
}

.navigationCardTitleMobile {
    height: 59px;
    flex: 1 1 0;
}

.navigationCardMenu {
    margin-top: 16px;
}

@media (max-width: 850px) {
    .navigationWrapper {
        display: none;
    }
}

.navigationMobileMenuHeader {
    gap: 16px;
    padding: 0 16px;
    border-bottom: 1px solid var(--grey-200);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navigationMobileMenu {
    width: 340px;
    max-width: 100%;
    height: 100%;
    background-color: white;
    padding: 0;
}
.cguLink {
    display: block;
    margin-top: 16px;
    font-size: 14px;
    color: var(--font-color);
    text-align: center;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
