.WordMapContainer {
    width: 100%;
    height: 300px;
    margin-bottom: 16px;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
}
@media (max-width: 850px) {
    .WordMapContainer {
        display: none;
    }
}
