.WorldMapContainer {
    width: 100%;
    height: 280px;
    max-height: 50vh;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}
@media (max-width: 850px) {
    .WorldMapContainer {
        display: none;
    }
}
