.buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.gamePreview {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
