.questionInput {
    all: unset;
    width: 100%;
    padding: 16px;

    &:focus {
        border: none;
    }
}

.question {
    border: 1px dashed var(--primary-color);
    border-radius: 4px;
    width: 100%;
    margin: 32px 0;
    position: relative;
}

.trashButton {
    position: absolute;
    top: 0;
    right: 0;
}

.addQuestionCard {
    all: unset;
    cursor: pointer;
    margin: auto;
    gap: 8px;
    display: flex;
    flex-direction: row;
    padding: 8px;
    width: fit-content;
    border-radius: 4px;
    box-shadow:
        rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
        rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;

    &:hover {
        background-color: var(--grey-100);
    }
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
}
