.imageUploadForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 32px;
    gap: 32px;
}

.imagePreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: fit-content;
    text-align: center;
}

.image {
    cursor: pointer;
    border-radius: 10px;
    object-fit: cover;
}

.svg {
    width: 150px;
    height: 150px;
    background: var(--grey-100);
    padding: 48px;
    color: var(--primary-color);
}