.popoverContent {
    width: 120px;
    height: 120px;
    z-index: 101;
    background-color: white;
    border-radius: 4px;
    border: 1px solid var(--grey-300);
    box-shadow: 0 2px 10px 0 var(--grey-300);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 4px;
    padding: 4px;
}

.popoverColorButton {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    border: 1px solid var(--grey-700);
}
.popoverColorButton:hover {
    border: 2px solid var(--primary-color);
    cursor: pointer;
}
.popoverColorButton:focus-visible {
    border: 2px solid var(--primary-color);
}
