.popoverContent {
    width: 186px;
    height: 192px;
    overflow: auto;
    z-index: 101;
    background-color: white;
    border-radius: 4px;
    border: 1px solid var(--grey-300);
    box-shadow: 0 2px 10px 0 var(--grey-300);

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4px;
    padding: 4px;
}

.popoverEmojiButton {
    width: 100%;
    height: 100%;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    border: 1px solid var(--grey-700);
}
.popoverEmojiButton:hover {
    border: 2px solid var(--primary-color);
    cursor: pointer;
}
.popoverEmojiButton:focus-visible {
    border: 2px solid var(--primary-color);
}
