.headerContainer {
    margin: 16px 0 24px;
}

.title {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progressBadge {
    padding: 4px 12px;
    background-color: var(--primary-100);
    color: var(--primary-color);
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 600;
    margin-left: auto;
}
