.button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    user-select: none;
    appearance: none;
    text-decoration: none;
    font-family: var(--font-roboto), Arial, sans-serif;
    font-weight: 500;
    min-width: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    -webkit-tap-highlight-color: transparent;
}

.variant-contained {
    box-shadow:
        rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
        rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}
.variant-contained:hover,
.variant-contained:focus-visible {
    box-shadow:
        rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
        rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}
.variant-contained.color-primary {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
}
.variant-contained.color-primary:hover,
.variant-contained.color-primary:focus-visible {
    background-color: var(--primary-700);
    border-color: var(--primary-700);
}
.variant-contained.color-secondary {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: var(--font-color);
}
.variant-contained.color-secondary:hover,
.variant-contained.color-secondary:focus-visible {
    background-color: var(--secondary-400);
    border-color: var(--secondary-400);
}
.variant-contained.color-warning {
    background-color: var(--warning-color);
    border: 1px solid var(--warning-color);
    color: white;
}
.variant-contained.color-warning:hover,
.variant-contained.color-warning:focus-visible {
    background-color: var(--warning-600);
    border-color: var(--warning-600);
}
.variant-contained.color-error {
    background-color: var(--error-color);
    border: 1px solid var(--error-color);
    color: white;
}
.variant-contained.color-error:hover,
.variant-contained.color-error:focus-visible {
    background-color: var(--error-600);
    border-color: var(--error-600);
}
.variant-contained.color-grey {
    background-color: var(--grey-500);
    border: 1px solid var(--grey-500);
    color: white;
}
.variant-contained.color-grey:hover,
.variant-contained.color-grey:focus-visible {
    background-color: var(--grey-600);
    border-color: var(--grey-600);
}

.variant-outlined {
    background-color: transparent;
}
.variant-outlined.color-primary {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.variant-outlined.color-primary:hover,
.variant-outlined.color-primary:focus-visible {
    background-color: var(--primary-100);
}
.variant-outlined.color-secondary {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-500);
}
.variant-outlined.color-secondary:hover,
.variant-outlined.color-secondary:focus-visible {
    background-color: var(--secondary-100);
}
.variant-outlined.color-warning {
    border: 1px solid var(--warning-color);
    color: var(--warning-color);
}
.variant-outlined.color-warning:hover,
.variant-outlined.color-warning:focus-visible {
    background-color: var(--warning-100);
}
.variant-outlined.color-error {
    border: 1px solid var(--error-color);
    color: var(--error-color);
}
.variant-outlined.color-error:hover,
.variant-outlined.color-error:focus-visible {
    background-color: var(--error-100);
}
.variant-outlined.color-grey {
    border: 1px solid var(--grey-600);
    color: var(--grey-600);
}
.variant-outlined.color-grey:hover,
.variant-outlined.color-grey:focus-visible {
    background-color: var(--grey-100);
}

.variant-borderless {
    background-color: transparent;
    border: 1px solid transparent;
}
.variant-borderless.color-primary {
    color: var(--primary-color);
}
.variant-borderless.color-primary:hover,
.variant-borderless.color-primary:focus-visible {
    background-color: var(--primary-100);
}
.variant-borderless.color-secondary {
    color: var(--secondary-500);
}
.variant-borderless.color-secondary:hover,
.variant-borderless.color-secondary:focus-visible {
    background-color: var(--secondary-100);
}
.variant-borderless.color-warning {
    color: var(--warning-color);
}
.variant-borderless.color-warning:hover,
.variant-borderless.color-warning:focus-visible {
    background-color: var(--warning-100);
}
.variant-borderless.color-error {
    color: var(--error-color);
}
.variant-borderless.color-error:hover,
.variant-borderless.color-error:focus-visible {
    background-color: var(--error-100);
}
.variant-borderless.color-grey {
    color: var(--grey-600);
}
.variant-borderless.color-grey:hover,
.variant-borderless.color-grey:focus-visible {
    background-color: var(--grey-100);
}

.isFullWidth {
    width: 100%;
}
.isUpperCase {
    text-transform: uppercase;
}

.size-sm {
    font-size: 13px;
    line-height: 20px;
    padding: 4px 8px;
    gap: 6px;
}
.size-md {
    font-size: 14px;
    line-height: 22px;
    padding: 6px 16px;
    gap: 12px;
}
.size-lg {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 20px;
    gap: 14px;
}

.isVisuallyHidden {
    opacity: 0;
    width: 1px;
    height: 1px;
    position: absolute;
    pointer-events: none;
}
.isVisuallyHidden:focus-visible {
    opacity: 1;
    pointer-events: inherit;
    position: relative;
    width: unset;
    height: unset;
}

.button:disabled,
.button:disabled:hover {
    cursor: not-allowed;
    border: none;
    color: var(--grey-500);
    box-shadow: none;
    background-color: var(--grey-100);
}

.variant-borderless:disabled {
    background-color: unset;
}
.variant-borderless:disabled:hover,
.variant-borderless:disabled:focus-visible {
    background-color: unset;
}

.isTabletUpOnly {
    display: none;
}

@media (min-width: 850px) {
    .isTabletUpOnly {
        display: flex;
    }
    .isMobileOnly {
        display: none;
    }
}
