.root {
    display: grid;
    grid-template-rows: repeat(1fr, 3);
}

.item {
    all: unset;
    cursor: pointer;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    border: 2px solid var(--grey-600);
    &:hover {
        border-color: var(--primary-color);
    }
    &:focus {
        border-color: var(--primary-color);
    }

    &[data-state='checked'] {
        border-color: var(--primary-color);
    }
}

.item.error {
    pointer-events: none;
    border-color: var(--error-color);
    &:hover {
        border-color: var(--error-color);
    }
    &:focus {
        border-color: var(--error-color);
    }
}

.item.success {
    pointer-events: none;
    border-color: var(--success-color);
    &:hover {
        border-color: var(--success-color);
    }
    &:focus {
        border-color: var(--success-color);
    }
}

.itemContainer {
    display: flex;
    align-items: center;
}

.indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;

    &::after {
        content: '';
        display: block;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: var(--primary-color);
    }

    &.error::after {
        background-color: var(--error-color);
    }

    &.success::after {
        background-color: var(--success-color);
    }
}

.label {
    color: var(--font-color);
    padding-left: 15px;
    cursor: pointer;
}

.readonly {
    pointer-events: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-template-rows: 10% 1fr 1fr 1fr;
}

.flagsHeader {
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 40px;
}

.flagsContainer {
    display: flex;
    flex-direction: row;
    gap: 100px;
    flex: 1;
}

.flag {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 100px;
}

.flagDescription {
    font-size: 12px;
}

.results {
    display: flex;
    flex-direction: row;
    gap: 100px;
    flex: 1;
}

.avatarList {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: stretch;
    width: 100px;
}
