.activityCountriesSelect {
    padding: 0 10px;
    height: 36px;
    border: 1px solid var(--grey-300);
    border-radius: 4px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 12px;
}
