.row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 16px 0;
    align-items: center;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 0;
}

.child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    max-width: 780px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
