.addChild {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 8px;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 0;
}
