.imageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.mascotStepContainer {
    display: flex;
    flex-direction: row;
    column-gap: 32px;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
}

.left {
    height: 150px;
}