body {
    font-size: 16px;
    font-family: var(--font-roboto), 'Times New Roman', Times, serif;
    font-weight: 400;
    color: #2e343b; /* fallback */
    color: var(--font-color);
    background-color: #f5f5f5; /* fallback */
    background-color: var(--background-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* Color variables */
    --primary-color: #4c3ed9;
    --primary-color-light: #b3b5fc; /* secondary background color */
    --primary-color-light-2: #ebe9fa; /* hover color */
    --secondary-color: #80cbc4; /* background only color (font should be dark) */
    --secondary-color-dark: #36827c; /* font color */
    --secondary-color-light: #dbf0ee; /* hover color */
    --error-color: #d93939;
    --error-color-light: #f7d4d4; /* background hover color */
    --warning-color: #a76700;
    --background-color: #f5f5f5;
    --font-color: #2e343b;
    --font-detail-color: #666666;
}

p {
    margin: 0;
    padding: 0;
}

#nprogress .bar {
    z-index: 2000;
    background-color: #4c3ed9; /* fallback */
    background-color: var(--primary-color);
    height: 1px;
}
