.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin-bottom: 32px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.countrySelect {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 16px;
    margin-bottom: 8px;
}

.deleteButton {
    flex-shrink: 0;
}
