.sidebarTitle {
    margin-bottom: 16px;
    background-color: white;
    border-radius: 10px;
    padding: 8px 16px;
    box-shadow: 0 2px 2px 0 rgba(186, 186, 186, 0.8);
    text-align: center;
}

.sidebar {
    margin-bottom: 16px;
    background-color: white;
    border-radius: 10px;
    padding: 16px 8px;
    box-shadow: 0 2px 2px 0 rgba(186, 186, 186, 0.8);
}
