body:has(.adminLayout) {
    background-color: var(--primary-100);
}
.adminSidebar {
    width: 320px;
    min-width: 320px;
    position: relative;
    align-self: stretch;

    @media (max-width: 850px) {
        display: none;
    }
}
.adminSidebarStickyContent {
    position: sticky;
    top: 84px;
}

.adminLayout {
    /* position */
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    min-height: 100dvh; /* for mobile */

    /* display */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 84px 20px 0 20px; /* 8px + 60px + 16px = 84px (header height + margin) */
    position: relative;
    gap: 16px;
}

.adminMainContent {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(186, 186, 186, 0.8);
    margin-bottom: 16px;
}