.themesContainer {
    margin: 32px auto;
    width: 100%;
    max-width: 640px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 16px;
}
.themeLink {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    background-color: var(--grey-100);
    border: 1px solid var(--grey-200);
    color: var(--font-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.themeLink:hover {
    background-color: var(--grey-200);
    border-color: var(--grey-300);
}