.image {
    cursor: pointer;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 16px;
}

.svg {
    width: 400px;
    height: 400px;
    background: var(--grey-100);
    padding: 48px;
    color: var(--primary-color);
}
