.buttonContainer {
    text-align: right;
}

.activities {
    position: relative;
    height: 500px;
    overflow-x: auto;
    border: 1px solid var(--grey-300);
    display: flex;
    flex-direction: column;
}

.visibilityToggle {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 8px;

    &:hover {
        background-color: var(--primary-100);
    }
}

.marginBottom {
    margin-bottom: 8px;
}

.cardWrapper {
    width: 100%;
}

.grayOverlay {
    filter: grayscale(100%);
    opacity: 0.7;
}

.loader {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
