.rootLayout {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 84px 20px 0 20px;
}

.main {
    background-color: white;
    box-shadow: 0 2px 2px rgba(186, 186, 186, 0.8);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media (max-width: 850px) {
    .rootLayout {
        padding: 76px 0 0 0;
    }
    .main {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 1px solid var(--grey-200);
    }
}
