.htmlEditor {
    --padding: 10px 8px;
    --min-height: 62px; /* 2 * rows + padding */
}

.htmlEditor > div {
    padding: var(--padding);
    font-size: 16px;
    line-height: 20px;
    color: var(--font-color);
    min-height: var(--min-height);
}
.variant-default.htmlEditor > div:hover {
    border-color: var(--grey-500);
}
.htmlEditor > div:focus {
    outline: none;
}

.variant-default > div {
    border: 1px solid var(--grey-300);
    border-radius: 4px;
}
.variant-default.color-primary > div:focus {
    border-color: var(--primary-color);
    box-shadow: inset 0px 0px 0px 1px var(--primary-color);
}
.variant-default.color-secondary > div:focus {
    border-color: var(--secondary-color);
    box-shadow: inset 0px 0px 0px 1px var(--secondary-color);
}

.placeholder {
    color: var(--font-detail-color);
}

.htmlEditor h2,
.htmlEditor h3 {
    padding: 0;
    margin: 0;
}

.htmlEditor h2 {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: normal;
    line-height: 30px;
    color: var(--primary-color);
}

.htmlEditor h3 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: normal;
    line-height: 26px;
}

.htmlEditor a {
    color: inherit;
    text-decoration: underline;
}
