.svg {
    width: 400px;
    height: 400px;
    background: var(--grey-100);
    padding: 150px;
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 10px;
    object-fit: cover;
    margin: 16px 0;

    &:hover {
        filter: brightness(0.8);
        transition: filter 0.2s ease-in-out;
    }
}

.videoContainer {
    width: 400px;
    margin: 16px 0;
    position: relative;
}

.editIcon {
    position: absolute;
    top: 5px;
    right: 5px;
}
