.contentEditor {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
}

.DragHandle {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    cursor: grab;
    user-select: none;
}

.EditButton {
    position: absolute;
    right: 44px;
    top: 5px;
}
.TrashButton {
    position: absolute;
    right: 5px;
    top: 5px;
}

.contentHtmlEditor {
    flex: 1 1 0;
    width: 100%;
}
.contentHtmlEditor.hasDottedBorder > div {
    border: 1px dashed var(--primary-color);
}
div.contentHtmlEditor.hasDottedBorder:hover > div {
    border: 1px solid var(--primary-color);
}
.contentHtmlEditor.hasDottedBorder > div:focus {
    border-style: solid;
}
.contentHtmlEditor.hasContinuousLeftBorder > div {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-style: solid;
    border-left-color: var(--primary-color);
}
div.contentHtmlEditor.hasContinuousLeftBorder:hover > div {
    border-left-color: var(--primary-color);
}
.hasRightPadding > div {
    padding-right: 40px;
}

.mediaContent {
    flex: 1 1 0;
    /* min-height: 62px; */
    padding: 40px 16px 16px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}
.mediaContent.hasDottedBorder {
    border: 1px dashed var(--primary-color);
}
.mediaContent.hasContinuousLeftBorder {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-style: solid;
    border-left-color: var(--primary-color);
}
