.reactionsContainer {
    display: flex;
    justify-self: start;
    align-items: center;
    gap: 8px;
}

.reactionsContainer .reactionButton {
    background-color: var(--primary-300);
}

.reactionsContainer .reactionButton.active,
.reactionsContainer .reactionButton:hover {
    background-color: var(--primary-500);
}

.reactionButtonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0;
}

.setReactionModal .reactionButton {
    background-color: var(--primary-300);
}

.setReactionModal .reactionButton.active,
.setReactionModal .reactionButton:hover {
    background-color: var(--primary-500);
}
