.reactionsContainer {
    display: flex;
    justify-self: start;
    align-items: center;
    gap: 4px;
}

.reactionsContainer button.addReactionButton {
    color: var(--primary-600);
    background-color: white;
}

.reactionsContainer button.addReactionButton:hover {
    background-color: var(--primary-300);
}

.reactionsContainer button.reactionButton {
    background-color: var(--primary-300);
}

.reactionsContainer button.reactionButton.active,
.reactionsContainer button.reactionButton:hover {
    background-color: var(--primary-500);
}

.reactionsContainer button.reactionButton:disabled,
.reactionsContainer button.reactionButton:disabled:hover {
    background-color: var(--grey-300);
}

.reactionsContainer button.reactionButton:disabled.active {
    background-color: var(--grey-400);
}

.counterBadge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    font-size: 10px;
    line-height: 1;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: 0;
}

.reactionButtonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0;
}

.setReactionModal button.reactionButton {
    background-color: var(--primary-300);
}

.setReactionModal button.reactionButton.active,
.setReactionModal button.reactionButton:hover {
    background-color: var(--primary-500);
}

.allReactionModal {
    .line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
    }
    .left {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
    }
}
