
.imagePreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 30%;
}

.image {
    cursor: pointer;
    border-radius: 10px;
    object-fit: cover;
}

.svg {
    width: 150px;
    height: 150px;
    background: var(--grey-100);
    padding: 48px;
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    padding: 32px;
}

.right {
    margin-left: 16px;
    width: 70%;
}

.personalityTraits {
    gap: 8px;
    border: none;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0;
}

.row {
    display: flex;
    gap: 16px;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 100%;
    white-space: nowrap;
}

.field {
    gap: 8px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
}