.button {
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid var(--grey-300);
    border-radius: 4px;
}
.button:first-child {
    border-radius: 4px 4px 0px 0px;
}
.button.bottom {
    border-radius: 0px 0px 4px 4px;
    border-top: none;
}
.button:hover {
    background-color: var(--grey-200);
}
