.menuList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.menuItem {
    width: 100%;
    height: 38px;
    border-radius: 10px;
    border: 1px solid var(--primary-400);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    padding: 0 8px;
    font-size: 15px;
    font-weight: 400;
    gap: 8px;
    transition: width 150ms ease-in-out;
    cursor: pointer;
    background-color: white;
}
.menuItem:hover {
    border-color: var(--primary-color);
    background-color: var(--primary-100);
}
.menuItem.color-secondary:hover {
    border-color: var(--secondary-color);
    background-color: var(--secondary-100);
}
.menuItem.color-danger:hover {
    border-color: var(--error-color);
    background-color: var(--error-100);
}
.menuItem[data-active] {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    width: calc(100% + 16px);
}
.menuItemIcon {
    display: flex;
}
.menuItemIcon > * {
    width: 24px;
    height: auto;
}

.text-left {
    text-align: left;
    justify-content: flex-start;
}
.text-center {
    text-align: center;
    justify-content: center;
}
.text-right {
    text-align: right;
    justify-content: flex-end;
}

.color-secondary {
    color: var(--secondary-500);
    border-color: var(--secondary-400);
}
.color-danger {
    color: var(--error-color);
    border-color: var(--error-400);
}
